[workspace]

members = [
  "partiql",
  "partiql-ast",
  "partiql-conformance-test-generator",
  "partiql-conformance-tests",
  "partiql-source-map",
  "partiql-eval",
  "partiql-irgen",
  "partiql-parser",
  "partiql-rewriter",
]
