[package]
name = "partiql-logical-planner"
description = "PartiQL Logical Planner"
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license = "Apache-2.0"
readme = "../README.md"
keywords = ["sql", "parser", "query", "compilers", "interpreters"]
categories = ["database", "compilers"]
exclude = [
  "**/.git/**",
  "**/.github/**",
  "**/.travis.yml",
  "**/.appveyor.yml",
]
version.workspace = true
edition.workspace = true

[dependencies]
partiql-value = { path = "../partiql-value", version = "*" }
partiql-logical = { path = "../partiql-logical", version = "*" }
partiql-ast = { path = "../partiql-ast", version = "*" }
partiql-parser = { path = "../partiql-parser", version = "*" }
ordered-float = "3.*"
itertools = "0.10.*"
unicase = "2.*"
indexmap = "1.9"
petgraph = "0.6.*"
num = "0.4"
fnv = "1"
assert_matches = "1.5.*"

[dev-dependencies]
partiql-eval = { path = "../partiql-eval", version = "*" }
